%head
  %link{:href=>"stylesheets/css/main.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css" }

.deck
  %h1="Deck"
  .slide.slide_blue
    = "smoop 1"
    
  .slide.slide_blue
    = "smoop 2"
  
  .slide.slide_blue
    = "smoop 3"

  .slide.slide_blue
    = "smoop 4"