%head
  %link{:href => "stylesheets/css/main.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
  %script{:src => "js/jquery-1.7.2.min.js" }
  %script{:src => "js/jquery.pitchdeck.js" }
  %script{:src => "js/jquery.scrollTo-1.4.2-min.js" }
  %script{:src => "js/waypoints.min.js" }
.deck
  %h1="Deck"
  .slide.slide_blue
    = "smoop 1"
    
  .slide.slide_blue
    = "smoop 2"
  
  .slide.slide_blue
    = "smoop 3"

  .slide.slide_blue
    = "smoop 4"