%head
  %link{:href => "http://yui.yahooapis.com/3.5.1/build/cssreset/cssreset-min.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }  
  %link{:href => "stylesheets/css/main.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
  %script{:src => "js/jquery-1.7.2.min.js" }
  %script{:src => "js/waypoints.min.js" }
  %script{:src => "js/jquery.scrollTo-1.4.2-min.js" }
  %script{:src => "js/jquery.easing.1.3.js" }
  %script{:src => "js/jquery.pitchdeck.js" }
  %script{:src => "js/jquery.stellar.min.js" }
  %script{:src => "js/main.js" }
.deck
  #nav
    .table_container
      %a.nav.toplink{:href=>"#slide_1", :title => "1"}=""
      .nav_spacer                                  
      %a.nav.toplink{:href=>"#slide_2", :title => "2"}=""
      .nav_spacer                                  
      %a.nav.toplink{:href=>"#slide_3", :title => "3"}=""
      .nav_spacer                                  
      %a.nav.toplink{:href=>"#slide_4", :title => "4"}=""
      .nav_spacer                                  
      %a.nav.toplink{:href=>"#slide_5", :title => "5"}=""
      .nav_spacer                                  
      %a.nav.toplink{:href=>"#slide_6", :title => "6"}=""
      .nav_spacer                                  
      %a.nav.toplink{:href=>"#slide_7", :title => "7"}=""
      .nav_spacer                                  
      %a.nav.toplink{:href=>"#slide_8", :title => "8"}=""
      .nav_spacer                                  
      %a.nav.toplink{:href=>"#slide_9", :title => "9"}=""
      .nav_spacer                                  
      %a.nav.toplink{:href=>"#slide_10", :title => "10"}=""
  #slide_1.slide.padding_70t.zindex_9
    .slide_container.blue_seafoam.text_center.height_1000
    
      %img{:src => "images/kapost-logo-med.png", :class => "margin_94t"}
    
      .text_blue_3.text_arvo.padding_70t.relative.font_size_48.zindex_9 Building &amp; Operating
      .text_arvo.relative.zindex_9.text_dark.font_size_38.italic.padding_13t - Your Own -
      .text_blue_3.text_arvo.relative.font_size_48.zindex_9.bold.padding_15t Content Marketing Machine
  
      %img{:src => "images/complex-cloud-1-lg.png", :style => "left: -226px; top: 100px", :class => "cloud"}
      %img{:src => "images/simple-cloud-2-sm.png", :style => "left: 384px; top: 157px", :class => "cloud"}
      %img{:src => "images/simple-cloud-1-lg.png", :style => "right: -257px; top: 246px", :class => "cloud"}
      %img{:src => "images/simple-cloud-3-sm.png", :style => "left: 200px; top: 355px", :class => "cloud"}
      
      / %img{:src => "images/simple-cloud-1-lg.png", :style => "right: -276px; top: 420px", :class => "cloud", :"data-stellar-ratio" => 1.3, :"data-stellar-horizontal-offset" => "-1220", :"data-stellar-vertical-offset" => "40"}
      %img{:src => "images/simple-cloud-2-lg.png", :style => "left: -150px; top: 775px", :class => "cloud"}
  
  #slide_2.slide.height_868.slide_with_bleed
    .slide_container.blue_seafoam.height_100
    .green_forest.zindex_10.relative
      .slide_container
        .title_caption_style.text_gray_dark.text_arvo MARKETING MUST GENERATE LEADS & OPPORTUNITIES
        .text_white_dark.text_1.margin_34t
          The Internet has put the Buyer in control.
        .text_white_dark.text_1
          %a{:href => "http://www.eloqua.com/grande/Grande_Guide_To_Sales_Enablement.html", :target => "_blank"}><
            %b.font_size_48 70%
            of the Buying Cycle
          &nbsp;is complete
          %br
          before Sales is contacted.
        .text_white_dark.text_1
          Marketing must generate leads
          %br
          and nurture them into opportunities.
    .slide_container.blue_seafoam.height_240.zindex_9
      %img{:src => "images/complex-cloud-2-sm.png", :style => "left: -70px; top: -135px", :class => "cloud"}
  
  #slide_3.slide
    .slide_container.blue_seafoam.height_1000.padding_70t
      .margin_25t.title_2.text_blue_3.text_arvo.text_center
        CONTENT MARKETING IS 
        %b CRITICAL
        TO LEAD &amp; OPPORTUNITY GENERATION
        
      .subtitle_1.margin_40t
        LEAD GENERATION -
        
      %table.table_2
        %td
          .title_secondary.text_blue_green Ads don't work
          %a{:href => 'http://finance.yahoo.com/news/Top-Reason-Users-Dont-Click-iw-129671171.html?x=0&.v=1', :target => '_blank'}
            Average industry
            %br
            click through rate of
            %br
            less than 0.1%!
        %td
          .title_secondary.text_blue_green SEO needs content
          %a{:href => 'http://searchenginewatch.com/article/2190655/Brands-as-Publishers-The-Changing-Rules-of-Search-SEO', :target => '_blank'}
            No longer about
            %br
            technical tricks, but
            %br
            instead about quality
            %br
            content
        %td
          .title_secondary.text_blue_green Social needs content
          %a{:href => 'http://www.clickz.com/clickz/column/2178369/stages-social-media-marketing', :target => '_blank'}
            Marketers must
            %br
            distribute quality
            %br
            content through
            %br
            social channels
        
      .subtitle_1
        LEAD NURTURING -  
      .title_secondary.text_blue_green.margin_55l Content is the fuel that powers the Marketing Automation engine
      %a{:href => 'http://www.marketingprofs.com/articles/2012/8445/content-fuel-for-the-marketing-automation-engine', :target => '_blank', :class => 'margin_55l margin_18t margin_34b block'} Email &amp; lead nurturing campaigns struggle without compelling content
          
      .subtitle_1
        BOTTOM LINE -
      .title_secondary.text_blue_green.stripe Content Marketing delivers superior lead results vs. all other tactics
      
      %table.table_2
        %td
          %a{:href => 'http://blog.hubspot.com/blog/tabid/6307/bid/10172/Inbound-Leads-Cost-62-Less-than-Outbound-New-Data.aspx', :target => '_blank'}
            Inbound Leads Cost 62% Than
            %br
            Outbound Leads
        %td
          %a{:href => 'http://kapost.com/ebook_content_marketing_roi/', :target => '_blank'}
            Content Marketing Leads Cost 41%
            %br
            Less Than The Best Alternative
            %br
            Channel, Paid Search
            
      %img{:src => "images/simple-cloud-3-sm.png", :style => "left: -35px; top: 760px", :class => "cloud"}
      %img{:src => "images/simple-cloud-2-sm.png", :style => "left: 400px; top: 815px", :class => "cloud"}
      %img{:src => "images/complex-cloud-1-lg.png", :style => "left: -45px; top: 1025px", :class => "cloud zindex_9"}
    

  #slide_4.slide.slide_with_bleed
    .slide_container.blue_seafoam.height_70
    .green_aqua.zindex_10.relative
      .text_white.text_arvo.callout_awesome
        BUT 
        %b MOST
        MARKETERS STRUGGLE WITH
        %br
        CONTENT MARKETING
      .text_blue_green.title_secondary.margin_10t.text_center.font_size_20.italic All Marketers know that they need to become publishers, but few are doing it well.
    
    .slide_container.blue_seafoam.text_center.height_646
      %img{:src => "images/aberdeen-graph.png", :style => "", :class => "zindex_10 relative"}
      
      .caption - SOURCE: ABERDEEN
      
      %img{:src => "images/mini-machine-1.png", :style => "left: 410px; top: 337px", :class => "cloud zindex_9"}
      %img{:src => "images/complex-cloud-3-sm.png", :style => "left: 400px; top: 442px", :class => "cloud zindex_10"}
      
  #slide_5.slide.slide_with_bleed
    .slide_container.blue_seafoam.height_70
    .marine_blue.zindex_9.relative
      .text_white.text_arvo.callout_awesome
        CONTENT MARKETING TAKES
        %br
        PROCESS, TOOLS, PRACTICES TO 
        %b SUCCEED
      .text_blue_dark.title_secondary.margin_10t.text_center.font_size_20.italic Like any business operation (e.g. CRM for Sales), content marketing requires processes, best practices & tools
      
    .slide_container.blue_seafoam.text_center.height_625
      %img{:src => 'images/aberdeen-stat.png', :class => 'margin_103t'}
      
      .caption.margin_28t - SOURCE: ABERDEEN
      
      %img{:src => "images/simple-cloud-1-lg-dark.png", :style => "left: -395px; top: 272px", :class => "cloud"}
      %img{:src => "images/complex-cloud-3-sm-reverse.png", :style => "left: -220px; top: 410px", :class => "cloud zindex_6"}
      %img{:src => "images/mini-machine-2.png", :style => "left: 244px; top: 252px", :class => "cloud zindex_7"}
      %img{:src => "images/simple-cloud-2-sm.png", :style => "left: 420px; top: 544px", :class => "cloud zindex_8"}
      %img{:src => "images/complex-cloud-4-sm.png", :style => "left: 660px; top: 455px", :class => "cloud zindex_9"}
      
  #slide_6.slide.slide_with_bleed
    .green_forest.zindex_10.relative
      .text_white.text_arvo.callout_awesome
        YOU CAN BUILD YOUR OWN
        %br
        CONTENT MARKETING MACHINE!
        
    .slide_container.blue_seafoam.height_893
      .text_open_sans.font_size_24.text_blue_3.padding_46t
        The Best Practices & Processes behind
        %br
        Content Marketing have been identified.
      .text_open_sans.font_size_24.text_blue_3.margin_20t
        You can learn about them and
        %br
        how to apply them through this
        %br
        Kapost guide -
      .text_blue_green.stripe.text_underline.text_open_sans.font_size_24.margin_30t
        "How to Build and Operate a
        %br
        Content Marketing Machine"
        
      %img{:src => "images/complex-cloud-2-sm-dark.png", :style => "left: -145px; top: 347px", :class => "cloud"}
      %img{:src => "images/content-marketing-machine.png", :style => "left: 404px; top: 0px", :class => "cloud zindex_6"}
      %img{:src => "images/complex-cloud-3-sm-reverse.png", :style => "left: -40px; top: 537px", :class => "cloud zindex_7"}
      %img{:src => "images/complex-cloud-4-sm.png", :style => "left: 783px; top: 608px", :class => "cloud zindex_7"}
      %img{:src => "images/simple-cloud-2-sm.png", :style => "left: 297px; top: 808px", :class => "cloud zindex_7"}
      
  #slide_7.slide.slide_with_bleed
    .slide_container.blue_seafoam.height_70
    .green_aqua.zindex_10.relative
      .text_white.text_arvo.callout_awesome{:style => 'line-height: 16px'}
        %img{:src => "images/kapost-logo-sm.png", :class => "margin_n20t"}
        IS THE FOUNDATION OF YOUR
        %br
        CONTENT MARKETING MACHINE
      .text_blue_green.title_secondary.padding_20t.text_center.font_size_20.italic
        Kapost organizes content marketing as a structured business process,
        %br
        enforcing best practices and optimizing results
    .slide_container.blue_seafoam.height_800
      %img{:src => "images/machine-foundation.png", :style => "left: -215px; top: 0px", :class => "cloud zindex_6"}
      %img{:src => "images/video.png", :style => "left: 630px; top: 370px", :class => "cloud zindex_7"}
      %img{:src => "images/complex-cloud-3-sm.png", :style => "left: 700px; top: 67px", :class => "cloud"}
      %img{:src => "images/complex-cloud-3-sm.png", :style => "left: -18px; top: 407px", :class => "cloud"}
      %img{:src => "images/simple-cloud-2-mini.png", :style => "left: 642px; top: 471px", :class => "cloud zindex_7"}
      %img{:src => "images/complex-cloud-3-sm.png", :style => "left: -216px; top: 712px", :class => "cloud zindex_9"}
      %img{:src => "images/complex-cloud-4-sm.png", :style => "left: 587px; top: 712px", :class => "cloud zindex_9"}
      
  #slide_8.slide
    .slide_container.blue_seafoam.text_center.height_907
      .title_2.text_blue_3.text_arvo.margin_27b.margin_108t.relative.zindex_10
        Adopt Kapost
        %b quickly
        &amp;
        %b easily
        
      .text_green_forest.zindex_6.relative
        .list_item_2
          %b.italic Software as a Service
          no IT involved
        .list_item_2
          30-day
          %b.italic free
          trial
        .list_item_2
          %b.italic Quick start &amp; training
          included in trial
        .list_item_2
          Intuitive user interface
        .list_item_2
          Automated import of existing data
        .list_item_2
          No lock-in: export your data
          %b.italic anytime
      
      %img{:src => "images/simple-cloud-2-lg-dark.png", :style => "left: -80px; top: 506px", :class => "cloud"}
      %img{:src => "images/simple-cloud-2-sm.png", :style => "left: 525px; top: 610px", :class => "cloud"}
      %img{:src => "images/simple-cloud-3-sm.png", :style => "left: 138px; top: 686px", :class => "cloud"}
      
  #slide_9.slide.slide_with_bleed
    .slide_container.blue_seafoam.height_70
      %img{:src => "images/complex-cloud-3-sm.png", :style => "left: 510px; top: 25px", :class => "cloud zindex_8"}
      %img{:src => "images/simple-cloud-1-lg.png", :style => "left: -71px; top: 79px", :class => "cloud zindex_8"}
    .green_forest.zindex_10.relative
      .text_white.text_arvo.callout_awesome.line_height_45
        Leading content marketing operations
      .text_white.text_arvo.callout_awesome
        %b.inline_block.vertical_middle.margin_n40t run on 
        %img{:src => "images/kapost-logo-sm-white.png", :class => ""}
        
      .text_green_aqua_dark.title_secondary.margin_10t.text_center.font_size_20.italic
        Watch Content Marketing leaders from organizations such as Intel, Eloqua, and Trip Advisor
        %br
        discuss best practices and how they run their machines on Kapost
        
    .slide_container.blue_seafoam.text_center.height_907
      %img{:src => "images/girder-left.png", :style => "left: -140px; top: 0px", :class => "cloud zindex_9"}
      %img{:src => "images/girder-right.png", :style => "right: -140px; top: 0px", :class => "cloud"}
      
      %img{:src => "images/complex-cloud-1-lg.png", :style => "left: -194px; top: 350px", :class => "cloud"}
      %img{:src => "images/complex-cloud-3-sm.png", :style => "right: -106px; top: 352px", :class => "cloud"}
      
      %a{:href=> "http://kapost.com/#customers", :target => "_blank", :style => 'position: absolute; top: 647px; right: 40px', :class => 'text_blue_3 text_underline text_open_sans italic font_size_18 bold'} See a list of other Kapost customers
      
      