%head
  %link{:href => "http://yui.yahooapis.com/3.5.1/build/cssreset/cssreset-min.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }  
  %link{:href => "stylesheets/css/main.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
  %script{:src => "js/jquery-1.7.2.min.js" }
  %script{:src => "js/waypoints.min.js" }
  %script{:src => "js/jquery.scrollTo-1.4.2-min.js" }
  %script{:src => "js/jquery.easing.1.3.js" }
  %script{:src => "js/jquery.pitchdeck.js" }
  %script{:src => "js/jquery.stellar.min.js" }
  %script{:src => "js/main.js" }
.deck
  #nav
    .table_container
      %a.nav.toplink{:href=>"#slide_1", :title => "1"}=""
      .nav_spacer                                  
      %a.nav.toplink{:href=>"#slide_2", :title => "2"}=""
      .nav_spacer                                  
      %a.nav.toplink{:href=>"#slide_3", :title => "3"}=""
      .nav_spacer                                  
      %a.nav.toplink{:href=>"#slide_4", :title => "4"}=""
      .nav_spacer                                  
      %a.nav.toplink{:href=>"#slide_5", :title => "5"}=""
      .nav_spacer                                  
      %a.nav.toplink{:href=>"#slide_6", :title => "6"}=""
      .nav_spacer                                  
      %a.nav.toplink{:href=>"#slide_7", :title => "7"}=""
  #slide_1.slide.padding_70t.zindex_9
    .slide_container.blue_seafoam.text_center.height_1000
    
      .text_gray_light.text_nixie.padding_230t.relative.font_size_48.zindex_9 Building and Running Your Own Content Marketing Machine
    
      .text_nixie.relative.zindex_9.text_gray_dark.font_size_24.margin_60t - on -
    
      %img{:src => "images/kapost-logo.png", :class => "zindex_9 relative"}
  
      %img{:src => "images/complex-cloud-1-lg.png", :style => "left: -220px; top: 0px", :class => "cloud", :"data-stellar-ratio" => 0.7, :"data-stellar-horizontal-offset" => "120"}
      / %img{:src => "images/simple-cloud-1-lg.png", :style => "right: -276px; top: 420px", :class => "cloud", :"data-stellar-ratio" => 1.3, :"data-stellar-horizontal-offset" => "-1220", :"data-stellar-vertical-offset" => "40"}
      %img{:src => "images/simple-cloud-1-lg.png", :style => "", :class => "cloud", :"data-stellar-ratio" => 0.8, :"data-stellar-horizontal-offset" => "130", :"data-stellar-vertical-offset" => "40"}
      %img{:src => "images/simple-cloud-2-lg.png", :style => "left: -150px; top: 775px", :class => "cloud"}
  
  #slide_2.slide.height_868.slide_with_bleed
    .slide_container.blue_seafoam.height_100
    .green_forest.zindex_10.relative
      .slide_container
        .title_1.title_caption_style.text_gray_dark.text_arvo MARKETING MUST GENERATE LEADS & OPPORTUNITIES
        .text_white_dark.text_1.margin_34t
          The Internet has put the Buyer in control.
        .text_white_dark.text_1
          %a{:href => "http://www.eloqua.com/grande/Grande_Guide_To_Sales_Enablement.html", :target => "_blank"}><
            %b.font_size_48 70%
            of the Buying Cycle
          &nbsp;is complete
          %br
          before Sales is contacted.
        .text_white_dark.text_1
          Marketing must generate leads
          %br
          and nurture them into opportunities.
    .slide_container.blue_seafoam.height_240.zindex_9
      %img{:src => "images/complex-cloud-2-sm.png", :style => "left: -70px; top: -135px", :class => "cloud"}
  
  #slide_3.slide
    .slide_container.blue_seafoam.height_1000.padding_70t
      .margin_25t.title_2.text_blue_3.text_arvo.text_center
        CONTENT MARKETING IS 
        %b CRITICAL
        TO LEAD &amp; OPPORTUNITY GENERATION
        
      .subtitle_1.margin_40t
        LEAD GENERATION -
        
      %table.table_2
        %td
          .title_secondary.text_blue_green Ads don't work
          %a{:href => 'http://finance.yahoo.com/news/Top-Reason-Users-Dont-Click-iw-129671171.html?x=0&.v=1', :target => '_blank'}
            Average industry
            %br
            click through rate of
            %br
            less than 0.1%!
        %td
          .title_secondary.text_blue_green SEO needs content
          %a{:href => 'http://searchenginewatch.com/article/2190655/Brands-as-Publishers-The-Changing-Rules-of-Search-SEO', :target => '_blank'}
            No longer about
            %br
            technical tricks, but
            %br
            instead about quality
            %br
            content
        %td
          .title_secondary.text_blue_green Social needs content
          %a{:href => 'http://www.clickz.com/clickz/column/2178369/stages-social-media-marketing', :target => '_blank'}
            Marketers must
            %br
            distribute quality
            %br
            content through
            %br
            social channels
        
      .subtitle_1
        LEAD NURTURING -  
      .title_secondary.text_blue_green.margin_55l Content is the fuel that powers the Marketing Automation engine
      %a{:href => 'http://www.marketingprofs.com/articles/2012/8445/content-fuel-for-the-marketing-automation-engine', :target => '_blank', :class => 'margin_55l margin_18t margin_34b block'} Email &amp; lead nurturing campaigns struggle without compelling content
          
      .subtitle_1
        BOTTOM LINE -
      .title_secondary.text_blue_green.stripe Content Marketing delivers superior lead results vs. all other tactics
      
      %table.table_2
        %td
          %a{:href => 'http://blog.hubspot.com/blog/tabid/6307/bid/10172/Inbound-Leads-Cost-62-Less-than-Outbound-New-Data.aspx', :target => '_blank'}
            Inbound Leads Cost 62% Than
            %br
            Outbound Leads
        %td
          %a{:href => 'http://kapost.com/ebook_content_marketing_roi/', :target => '_blank'}
            Content Marketing Leads Cost 41%
            %br
            Less Than The Best Alternative
            %br
            Channel, Paid Search
            
      %img{:src => "images/simple-cloud-3-sm.png", :style => "left: -35px; top: 760px", :class => "cloud"}
      %img{:src => "images/simple-cloud-2-sm.png", :style => "left: 400px; top: 815px", :class => "cloud"}
      %img{:src => "images/complex-cloud-1-lg.png", :style => "left: -45px; top: 1015px", :class => "cloud zindex_9"}
    

  #slide_4.slide.slide_with_bleed
    .slide_container.blue_seafoam.height_70
    .green_aqua.zindex_10.relative
      .callout_awesome.title_callout.text_white
        BUT MOST MARKETERS STRUGGLE WITH
        %br
        CONTENT MARKETING
      All Marketers know that they need to become publishers, but few are doing it well.
    
  #slide_5.slide.blue_sky
    .title_area_1
      .title_large.text_gray_dark="Also makes for a pretty good large title"
      .title_secondary.text_orange_burnt.text_right="... yeah?"
    .image_area_1.width_300
      %img{:src => "images/tcm.png"}
      .caption_area.text_green_forest
        .caption_title="Caption for a graphic"
        .caption_text="(pretend it's another graphic)"
    
  .slide_with_bleed.gray
    #slide_6.slide
      .content_area_1
        %table.table_1
          %td.width_160
            .title_1.text_blue_green="Fast, easy adoption of Kapost:"
          %td
            .text_green_forest
              .list_item_2
                %b="Saas"
                ="(Software-as-a-service)"
              .list_item_2
                %b="Easy to use,"
                ="easy to deploy"
              .list_item_2
                %b="Quickly"
                ="imports your current data & never holds your data hostage... ever."
              .list_item_2
                %b="Plus"
                ="you get a 30 day trial to kick the tires"
    
  #slide_7.slide.white.slide_short
    .content_area_2
      %table.table_contact
        %td.text_amatic="Contact"
        %td="(kp logo)"
        %td
          %p
            %a{:class=> "link_style_1", :href => "http://kapost.com"}="Kapost.com"
          %p
            %a{:class=> "link_style_1", :href => "mailto:sales@kapost.com"}="sales@kapost.com"