/*
Syntax error: Inconsistent indentation: 1 space was used for indentation, but the rest of the document was indented using 2 spaces.
        on line 64 of stylesheets/sass/main.sass

59:   width: 100%
60: 
61: 
62: // modules
63: .deck
64:   overflow-x: hidden
65:   width: 100%
66:   background: $blue-0
67:  
68: .IN-widget
69:   margin-top: 10px

Backtrace:
stylesheets/sass/main.sass:64
/Users/mitzaceusan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.20/lib/sass/engine.rb:409:in `block in tabulate'
/Users/mitzaceusan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.20/lib/sass/engine.rb:367:in `each'
/Users/mitzaceusan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.20/lib/sass/engine.rb:367:in `each_with_index'
/Users/mitzaceusan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.20/lib/sass/engine.rb:367:in `tabulate'
/Users/mitzaceusan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.20/lib/sass/engine.rb:330:in `_to_tree'
/Users/mitzaceusan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.20/lib/sass/engine.rb:300:in `_render'
/Users/mitzaceusan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.20/lib/sass/engine.rb:247:in `render'
/Users/mitzaceusan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/mitzaceusan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/mitzaceusan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:200:in `each'
/Users/mitzaceusan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/mitzaceusan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:298:in `block in watch'
/Users/mitzaceusan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.20/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/mitzaceusan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.20/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/mitzaceusan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.20/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/mitzaceusan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.20/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/mitzaceusan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.20/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/mitzaceusan/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.20/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Inconsistent indentation: 1 space was used for indentation, but the rest of the document was indented using 2 spaces.\A         on line 64 of stylesheets/sass/main.sass\A \A 59:   width: 100%\A 60: \A 61: \A 62: // modules\A 63: .deck\A 64:   overflow-x: hidden\A 65:   width: 100%\A 66:   background: $blue-0\A 67:  \A 68: .IN-widget\A 69:   margin-top: 10px"; }
