@import url(http://fonts.googleapis.com/css?family=Nixie+One|Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Arvo:400,700,400italic,700italic|Amatic+SC:400,700|Open+Sans+Condensed:300,700,300italic|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300);
body {
  font-family: Helvetica;
  overflow-x: hidden; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

html {
  overflow-x: hidden; }

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99; }
  #nav .table_container {
    margin: auto;
    width: 960px; }

.deck {
  overflow-x: hidden;
  width: 100%; }

.callout_awesome {
  text-align: center;
  text-transform: uppercase;
  padding: 0; }

.caption_area {
  padding: 32px 0 96px 0; }

.caption_text {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  text-transform: uppercase; }

.caption_title {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase; }

.cloud {
  position: absolute; }

.content_area_1 {
  padding: 128px 0 190px 0; }

.content_area_2 {
  padding: 268px 0 72px 0; }

.deck {
  color: #252525; }

.image_area_1 {
  margin: auto; }

.link_style_1 {
  color: #0371b8;
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: 600; }

.list_centered {
  margin: 32px 0 0 200px; }

.list_item_1 {
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  margin: 38px 0 0 0; }

.list_item_2 {
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  line-height: 64px; }

.nav {
  background: url(../../images/nav_btns.png) no-repeat -282px 0;
  color: #cac7c1;
  display: inline-block;
  font-size: 18px;
  height: 22px;
  line-height: 22px;
  padding: 18px 0 12px;
  text-align: center;
  text-shadow: white 0 1px 0;
  width: 47px; }
  .nav:hover, .nav.current {
    background-position: -329px 0;
    color: #666666; }

.nav_spacer {
  display: inline-block;
  height: 56px;
  vertical-align: -16px;
  width: 23px; }

.slide {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 940px; }

.slide_container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 940px; }

.slide_short {
  min-height: 0px; }

.slide_with_bleed {
  width: 100% !important; }

.stripe {
  background: #79a8c8;
  line-height: 36px;
  padding-left: 55px;
  margin-top: 8px; }

#slide_2 .green_forest {
  padding: 40px 0 85px; }
#slide_2 a {
  color: #e0e0e0;
  text-decoration: underline; }

#slide_3 a {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-decoration: underline;
  color: #2b8ca6; }

.table_1 {
  margin: 0 50px 0 82px; }
  .table_1 td {
    padding: 0 40px 0 0;
    vertical-align: top; }

.table_2 {
  margin: 0 55px 45px; }
  .table_2 td {
    width: 400px;
    vertical-align: top; }

.table_contact {
  border-bottom: 3px solid black;
  margin: auto; }

.text_1 {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  line-height: 45px;
  margin: 40px 0 0 60px; }

.text_amatic {
  font-family: "Amatic SC", cursive;
  font-size: 32px;
  font-weight: 700; }

.text_nixie {
  font-family: "Nixie One", Rockwell, serif;
  text-align: center; }

.text_arvo {
  font-family: Arvo;
  font-weight: 400;
  display: inline-block;
  text-transform: uppercase;
  vertical-align: top; }

.text_right {
  text-align: right; }

.title_1 {
  display: inline-block;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: top; }

.title_area_1 {
  padding: 250px 72px 30px 72px; }

.title_callout {
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: 100;
  line-height: 60px;
  text-transform: uppercase; }

.title_large {
  font-family: "Lato", sans-serif;
  font-size: 35px;
  font-weight: 300;
  line-height: 40px;
  text-transform: uppercase; }

.title_secondary {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px; }

.title_small {
  margin: 0 0 0 90px; }

.title_caption_style {
  background: white;
  padding: 12px 0;
  width: 940px;
  text-align: center;
  font-size: 30px; }

.title_2 {
  display: inline-block;
  font-size: 30px;
  text-transform: uppercase; }

.subtitle_1 {
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  font-family: Arvo;
  margin-left: 55px; }

.width_160 {
  width: 160px; }

.width_300 {
  width: 300px; }

.height_1000 {
  height: 1000px; }

.height_868 {
  height: 868px; }

.height_240 {
  height: 240px; }

.height_100 {
  height: 100px; }

.height_70 {
  height: 70px; }

.blue_1 {
  background-color: #b9e3ed; }

.blue_seafoam {
  background-color: #89cde2; }

.blue_sky {
  background-color: #a1d6e4; }

.gray {
  background-color: silver; }

.green_aqua {
  background-color: #00baa7; }

.green_forest {
  background-color: #26424b; }

.white {
  background-color: white; }

.text_blue_green {
  color: #295860; }

.text_blue_3 {
  color: #2b8ca6; }

.text_gray_dark {
  color: #666666; }

.text_gray_light {
  color: #333333; }

.text_green_forest {
  color: #26424b; }

.text_orange_burnt {
  color: #c4701e; }

.text_white {
  color: white; }

.text_white_dark {
  color: #e0e0e0; }

.text_center {
  text-align: center; }

.relative {
  position: relative; }

.block {
  display: block; }

.zindex_10 {
  z-index: 10; }

.zindex_9 {
  z-index: 9; }

.zindex_8 {
  z-index: 8; }

.font_size_48 {
  font-size: 48px; }

.font_size_24 {
  font-size: 24px; }

.margin_20t {
  margin-top: 20px; }

.margin_25t {
  margin-top: 25px; }

.margin_34t {
  margin-top: 34px; }

.margin_40t {
  margin-top: 40px; }

.margin_60t {
  margin-top: 60px; }

.margin_70t {
  margin-top: 70px; }

.margin_55l {
  margin-left: 55px; }

.margin_18t {
  margin-top: 18px; }

.margin_34b {
  margin-bottom: 34px; }

.padding_70t {
  padding-top: 70px; }

.padding_230t {
  padding-top: 230px; }
