// google fonts
@import url(http://fonts.googleapis.com/css?family=Nixie+One|Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Arvo:400,700,400italic,700italic|Amatic+SC:400,700|Open+Sans+Condensed:300,700,300italic|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300)

// colors
$blue-green: #295860
$blue-0: #89CDE2
$blue-1: #b9e3ed
$blue-2: #0371b8
$blue-3: #2B8CA6
$blue-4: #00426D
$blue-5: #005388
$blue-sky: #a1d6e4
$blue-light: #79a8c8
$blue-marine: #0072bb
$blue-dark: #052338

$gray: #c0c0c0
$gray-dark: #666
$gray-light: #333
$gray-1: #7195AA

$green-aqua: #00baa7
$green-light: #65C1BF
$green-aqua-dark: #00BBA7
$green-forest: #26424B

$orange-burnt: #c4701e

$white-dark: #e0e0e0
$dark: #1A243B

// base styles
body
  font-family: Helvetica
  overflow-x: hidden
  
a
  text-decoration: none
  
a:hover
  text-decoration: none
  
html
  overflow-x: hidden
  
// important dealies
#nav
  position: fixed
  top: 0
  width: 100%
  z-index: 99
  .table_container
    margin: auto
    width: 827px
/*    width: 760px*/
    
.deck
  overflow-x: hidden
  width: 100%


// modules
.deck
  overflow-x: hidden
  width: 100%
  background: $blue-0
 
.IN-widget
  margin-top: 10px

.callout_awesome
  text-align: center
  text-transform: uppercase
  padding: 0
  font-size: 30px
  
.caption_area
  padding: 32px 0 96px 0
  
.caption_text
  font-family: 'Lato', sans-serif
  font-size: 13px
  text-transform: uppercase
  
.caption_title
  font-family: 'Lato', sans-serif
  font-size: 20px
  font-weight: bold
  text-transform: uppercase

.cloud
  position: absolute

.content_area_1
  padding: 128px 0 190px 0
  
.content_area_2
  padding: 268px 0 72px 0
  
.deck
  color: #252525
  
.image_area_1
  margin: auto
  
.link_style_1
  color: $blue-2
  font-family: 'Open Sans', sans-serif
  font-size: 26px
  font-weight: 600
  
.list_centered
  margin: 32px 0 0 200px
  
.list_item_1
  font-family: 'Open Sans', sans-serif
  font-size: 21px
  margin: 38px 0 0 0
  
.list_item_2
  font-family: 'Open Sans', sans-serif
  font-size: 26px
  line-height: 69px
  
.nav
  background: url(../../images/nav-sprite-calc.png) no-repeat -282px 0
  font-family: 'Lato', sans-serif
  font-weight: 300
  color: #3C96AF
  display: inline-block
  font-size: 18px
  height: 22px
  line-height: 18px
  padding: 18px 0 12px
  text-align: center
  width: 47px
  &.calculator
    background-position: -188px 0
    .label
      visibility: hidden
    &:hover, &.current
      background-position: -235px 0
  &:hover, &.current
    background-position: -329px 0
    color: white
  
.nav_spacer
  display: inline-block
  height: 59px
  vertical-align: -16px
  width: 23px
  
.slide
  margin-left: auto
  margin-right: auto
  position: relative
  width: 940px
  
.slide_container
  margin-left: auto
  margin-right: auto
  position: relative
  width: 940px
  
.slide_short
  min-height: 0px
  
.slide_with_bleed
  width: 100% !important
  
.stripe
  background: $blue-light
  line-height: 36px
  padding-left: 55px
  margin-top: 8px
  
#slide_1
  .text_arvo
    text-transform: capitalize
  
#slide_2
  .green_forest
    padding: 40px 0 85px
  a
    color: $white-dark
    text-decoration: underline
    
#slide_3
  a
    font-family: 'Open Sans', sans-serif
    font-size: 24px
    line-height: 28px
    text-decoration: underline
    color: $blue-3
    
#slide_4
  .green_aqua
    padding: 33px 0 20px
    vertical-align: top

#slide_5
  .marine_blue
    padding: 33px 0 20px
    vertical-align: top
    
#slide_6
  .green_forest
    padding: 90px 0 32px
  .text_open_sans
    line-height: 28px
    padding-left: 60px
  .stripe
    padding: 6px 0 6px 80px
    background-color: $green-light
    width: 600px
    
#slide_7
  .green_aqua
    padding: 43px 0 10px
    
#slide_9
  .green_forest
    padding: 20px 0 1px
    
#slide_10
  .marine_blue
    padding: 33px 0 20px
    vertical-align: top

#slide_11
  .green_aqua
    padding: 63px 0 58px
  
.table_1
  margin: 0 50px 0 82px
  td
    padding: 0 40px 0 0
    vertical-align: top
    
.table_2
  margin: 0 55px 45px
  td
    width: 400px
    vertical-align: top
    
.input_container
  padding-top: 20px
  margin-bottom: 5px
  margin-left: 285px
  text-align: left
  position: relative
  .tip
    position: absolute
    top: 23px
    left: 344px
  label
    color: $blue-4
    font-family: 'Open Sans', sans-serif
    font-size: 18px
    font-weight: 700
    font-style: italic
  input, .dollar, .percent
    font-family: 'Lato', sans-serif
    font-size: 24px 
    font-weight: 400
    color: $green-forest
    line-height: 41px
  input
    border: 1px solid black
    margin-top: 3px
    padding: 0 10px
    width: 370px
    &.with_dollar
      padding-left: 17px
  .dollar
    position: absolute
    top: 48px
    left: 4px
  .percent
    position: absolute
    top: 48px
    left: 345px
    
button
  background: url("../../images/roi-button.png") no-repeat top left
  border: none
  width: 374px
  height: 51px
  text-align: center
  font-family: "Open Sans", sans-serif
  font-size: 24px
  color: $blue-marine
  font-weight: 600
  margin-top: 36px
  cursor: pointer
  .arrow
    background: url("../../images/down-arrow.png") no-repeat left top
    display: inline-block
    width: 9px
    height: 21px
    margin-bottom: -3px
  &.disabled
    color: $gray-1
    
.dots
  display: block
  margin: 14px auto 24px
    
.funnel
  margin: 0 auto
  &.funnel_1
    background: url("../../images/funnel-1.png") no-repeat top left
    width: 609px
    height: 478px
    margin-top: 30px
  .value
    font-family: 'Lato', sans-serif
    font-size: 40px
    color: white
    font-weight: 300
    padding-top: 56px
    .new
      font-weight: 700
      margin-left: 60px
  .label
    font-family: "Open Sans", sans-serif
    font-style: italic
    font-size: 18px
    color: white
    font-weight: 700
    margin-top: 23px
  &.funnel_2
    background: url("../../images/funnel-2.png") no-repeat top left
    width: 693px
    height: 471px
    margin-top: 13px
    
#calculator
  height: 656px

#funnel_1
  position: relative
  display: none
  height: 896px
  .funnel_value
    font-family: 'Lato', sans-serif
    font-size: 48px
    color: $green-forest
    font-weight: 300
    margin-top: 23px
  .funnel_label
    font-family: "Open Sans", sans-serif
    font-style: italic
    font-size: 18px
    color: $green-forest
    font-weight: 700
    margin-top: 18px
    margin-bottom: 42px
  .conversion
    position: absolute
    left: 100px
    .value
      font-family: 'Lato', sans-serif
      font-size: 24px
      font-weight: 300
      color: $blue-5
    .label
      font-family: "Open Sans", sans-serif
      font-style: italic
      font-size: 14px
      font-weight: 600
      color: $blue-5
    &.leads
      top: 206px
    &.customers
      top: 362px
      
#funnel_2
  position: relative
  display: none
  height: 770px
  .lifts_description
    position: absolute
    left: 26px
    top: 609px
    background-color: $blue-light
    width: 146px
    text-align: left
    color: white
    font-family: "Open Sans", sans-serif
    font-size: 13px
    font-weight: 400
    padding: 10px
    a
      color: white
      text-decoration: underline
  .lifts
    position: absolute
    left: 26px
    top: 134px
    background-color: $blue-light
    width: 97px
    height: 475px
    text-align: left
    .conversion
      position: absolute
      left: 14px
      .value
        font-family: 'Lato', sans-serif
        font-size: 24px
        font-weight: 300
        color: $blue-5
      .label
        font-family: "Open Sans", sans-serif
        font-style: italic
        font-size: 14px
        font-weight: 600
        color: $blue-5
      &.leads
        top: 225px
      &.customers
        top: 381px
    .machine_conversion
      position: absolute
      left: 14px
      .value
        font-family: 'Lato', sans-serif
        font-size: 24px
        font-weight: 400
        color: white
      .label
        font-family: "Open Sans", sans-serif
        font-style: italic
        font-size: 14px
        font-weight: 600
        color: white
        &.text_blue_5
          color: $blue_5
      &.lift
        top: 0px
      &.new_leads
        top: 156px
      &.new_customers
        top: 314px
  .funnel_description
    font-family: "Open Sans", sans-serif
    font-style: italic
    font-size: 18px
    color: white
    font-weight: 700
    margin-top: 30px
    span
      padding-left: 130px
  .funnel_value
    font-family: 'Lato', sans-serif
    font-size: 48px
    color: $green-forest
    font-weight: 300
    margin-top: 35px
    .new
      font-weight: 700
      margin-left: 20px
  .funnel_label
    font-family: "Open Sans", sans-serif
    font-style: italic
    font-size: 18px
    color: $green-forest
    font-weight: 700
    margin-top: 18px
    margin-bottom: 42px    
  .gains
    right: 0px
    position: absolute
    width: 200px
    &.funnel_description
      top: 20px
    .value
      font-family: 'Lato', sans-serif
      font-size: 36px
      font-weight: 700
      color: $blue-4
    .label
      font-family: "Open Sans", sans-serif
      font-style: italic
      font-size: 14px
      font-weight: 700
      color: $blue-5
    &.visitors
      top: 218px
    &.leads
      top: 373px
    &.customers
      top: 530px
    &.revenue
      top: 674px
      font-size: 30px
      font-weight: 900
    
.contact
  margin-top: 130px
  //margin-left: 290px
  text-align: center
  font-style: italic
  color: $green-forest
  font-family: "Open Sans", sans-serif
  font-size: 26px
  line-height: 69px
  a
    color: $green-forest
    text-decoration: underline
    font-style: normal
  
.download
  width: 269px
  height: 182px
  float: left
  margin-right: 20px
  text-align: center
  color: $green-forest
  font-family: 'Open Sans', sans-serif
  font-size: 15px
  //this will be removed when the links are there
  .text
    margin-top: 184px
    display: block
    color: #7d7d7d
  a
    color: $green-forest
    margin-top: 184px
    display: block
  &.powerpoint
    background: url("../../images/powerpoint-preview-comingsoon.png") no-repeat top left
  &.pdf
    background: url("../../images/pdf-preview-comingsoon.png") no-repeat top left
    
.share
  float: left
  margin-left: 155px
  width: 70px
  margin-top: 10px
  margin-right: 10px
  
.clear
  clear: both
  
.text_1
  font-family: 'Open Sans', sans-serif
  font-size: 40px
  line-height: 45px
  margin: 40px 0 0 60px
  
.text_amatic
  font-family: 'Amatic SC', cursive
  font-size: 32px
  font-weight: 700
  
.text_nixie
  font-family: 'Nixie One', Rockwell, serif
  text-align: center
  
.text_arvo
  font-family: Arvo
  font-weight: 400
  text-transform: uppercase
  vertical-align: top
  
.text_open_sans
  font-family: 'Open Sans', sans-serif
  
.text_right
  text-align: right
  
.title_1
  display: inline-block
  font-family: 'Open Sans Condensed', sans-serif
  font-size: 26px
  font-weight: bold
  text-transform: uppercase
  vertical-align: top
  
.title_area_1
  padding: 250px 72px 30px 72px
  
.title_callout
  font-family: 'Lato', sans-serif
  font-size: 32px
  font-weight: 100
  line-height: 60px
  text-transform: uppercase
  
.title_large
  font-family: 'Lato', sans-serif
  font-size: 35px
  font-weight: 300
  line-height: 40px
  text-transform: uppercase
  
.title_secondary
  font-family: 'Open Sans', sans-serif
  font-size: 24px
  font-weight: bold
  margin-bottom: 10px
  
.title_small
  margin: 0 0 0 90px
  
.title_caption_style
  background: white
  padding: 12px 0
  width: 940px
  text-align: center
  font-size: 30px
  
.title_2
  display: inline-block
  font-size: 30px
  text-transform: uppercase
  
.subtitle_1
  font-size: 18px
  text-transform: uppercase
  color: white
  font-family: Arvo
  margin-left: 55px
  
.caption
  margin-top: 9px
  margin-right: 150px
  text-align: right
  text-transform: uppercase
  color: white
  font-size: 18px
  font-family: 'Nixie One', Rockwell, serif
  
.width_160
  width: 160px
  
.width_300
  width: 300px

.height_1600
  height: 1600px
  
.height_1000
  height: 1000px
  
.height_907
  height: 907px

.height_893
  height: 893px
  
.height_868
  height: 868px

.height_800
  height: 800px
  
.height_789
  height: 789px
  
.height_646
  height: 646px

.height_575
  height: 575px
  
.height_240
  height: 240px
  
.height_189
  height: 189px

.height_100
  height: 100px
  
.height_70
  height: 70px
  
// color classes
.blue_1
  background-color: $blue-1
  
.blue_seafoam
  background-color: $blue-0
  
.blue_sky
  background-color: $blue-sky
  
.gray
  background-color: $gray
  
.green_aqua
  background-color: $green-aqua
  
.green_forest
  background-color: $green-forest
  
.marine_blue
  background-color: $blue-marine
  
.white
  background-color: white
  
// text
.text_green_aqua_dark
  color: $green-aqua-dark

.text_blue_green
  color: $blue-green
  
.text_blue_3
  color: $blue-3
  
.text_blue_5
  color: $blue-5
  
.text_blue_dark
  color: $blue-dark
  
.text_dark
  color: $dark
  
.text_gray_dark
  color: $gray-dark
  
.text_gray_light
  color: $gray-light
  
.text_green_forest
  color: $green-forest
  
.text_orange_burnt
  color: $orange-burnt
  
.text_white
  color: white
  
.text_white_dark
  color: $white-dark
  
.text_center
  text-align: center
  
.text_underline
  text-decoration: underline
  
.line_height_45
  line-height: 45px
  
.line_height_30
  line-height: 30px
  
.line_height_22
  line-height: 22px

// position
.relative
  position: relative
  
.block
  display: block
  
.inline_block
  display: inline-block
  
// generic
.vertical_middle
  vertical-align: middle

.italic
  font-style: italic
  
.bold
  font-weight: bold
  
.no_transform
  text-transform: none

.zindex_10
  z-index: 10

.zindex_9
  z-index: 9

.zindex_8
  z-index: 8

.zindex_7
  z-index: 7
    
.zindex_6
  z-index: 6
  
.font_size_48
  font-size: 48px
  
.font_size_38
  font-size: 38px
  
.font_size_30
  font-size: 30px
  
.font_size_24
  font-size: 24px
  
.font_size_20
  font-size: 20px
  
.font_size_18
  font-size: 18px
  
.margin_n40t
  margin-top: -40px
  
.margin_n20t
  margin-top: -20px

.margin_10t
  margin-top: 10px
  
.margin_8t
  margin-top: 8px
  
.margin_20t
  margin-top: 20px
  
.margin_25t
  margin-top: 25px
  
.margin_28t
  margin-top: 28px

.margin_30t
  margin-top: 30px
  
.margin_34t
  margin-top: 34px
  
.margin_40t
  margin-top: 40px
  
.margin_53t
  margin-top: 53px
  
.margin_60t
  margin-top: 60px

.margin_70t
  margin-top: 70px
  
.margin_94t
  margin-top: 94px
  
.margin_108t
  margin-top: 108px
  
.margin_55l
  margin-left: 55px
  
.margin_34b
  margin-bottom: 34px
  
.margin_27b
  margin-bottom: 27px

.padding_13t
  padding-top: 13px

.padding_15t
  padding-top: 15px

.padding_20t
  padding-top: 20px
  
.padding_46t
  padding-top: 46px
  
.padding_70t
  padding-top: 70px
  
.padding_79t
  padding-top: 79px

.padding_230t
  padding-top: 230px